.footer {
  width: 100%;
  height: 20px;
  padding: 0;
  margin: 0;
  background: rgba(150,150,150,0.5);
  display: grid;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}

.build-time {
  justify-self: right;
}

.credit-cost {
  color: teal;
}

.command {
  justify-self: left;
}
